@import url('https://fonts.googleapis.com/css?family=Jura');

body{
  text-align: center;
  background-color: #111111;
}
h1{
  font-family: 'Jura', 'Titillium Web', sans-serif;
  font-size: 2.5em;
  margin: 50px;
  color: lawngreen;
}
h2{
  font-family: 'Jura', 'Titillium Web', sans-serif;
  font-size: 2.0em;
  margin: 50px;
  margin-top: 0;
}
p{
  font-family: sans-serif;
}
canvas{
  margin-left: 2%;
  margin-bottom: 20px;
  float: left;
  box-shadow: 0 0 10px 0 #444, 0 0 10px 0 #444;
}
label{
  font-family: 'Jura', 'Titillium Web', sans-serif;
  font-size: 1.5em;
  color: white;
}
input{
  padding: 5px;
  margin: 5px 10px 5px 10px;
}
form{
  margin-top: 20px;
}
#roomSetup{
  display: inline-block;
  color: white;
  width: 359px;
  text-align: center;
}
#hostRoomDiv{
  margin-top:5%;
}
.button{
  padding: 10px;
  margin: 10px auto;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  display: block;
}
.button:hover{
  background-color: lawngreen;
}
.playerAvatar{
  width: 60px;
  height: 40px;
  border-radius: 2px;
  margin: 26px 0px;
  margin-left: 120px;
  display: inline-block;
  float: left;
}
#host{
  font-family: 'Jura', 'Titillium Web', sans-serif;
  font-size: 1.4em;
  margin-top: 10px;
}

.avatarImg{
  margin-top: 4px;
  margin-bottom: 2px;
  width: 90px;
  height: 90px;
  overflow: hidden;
}
.avatarImg img{
  height: 90px;
}

@media only screen and (max-width: 1710px) {
  canvas{
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: initial;
  }  
}
#leftAd{
  margin-left: 5%;
  margin-bottom: 20px;
  float: left;
  box-shadow: 0 0 10px 0 #444, 0 0 10px 0 #444;
}
#topAd{
  margin-left: 5%;
  margin-bottom: 20px;
  box-shadow: 0 0 10px 0 #444, 0 0 10px 0 #444;
  display: none;
}
@media (max-width: 1497px){
  #leftAd{
    display: none;	
  }
  #topAd{
    display: block;
  }
}
audio{
  display: none;
}
#audioButton{
  position: fixed;
  right: 10px;
  top: 10px;
}
#audioButton img{
  height: 30px;
  width: 30px;
}
#mute{
  display: none;
}

